{% extends 'moledordepasas/base.html' %}
{% block title %}Borra un tutorial{% endblock %}
{% load static %}
{% block content %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Conchetumare!</strong> Hubo un error al borrar
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
    <thead>
      <h1>Borrar Tutorial</h1>
      <h3>Borrar {{ post.title }}</h3>
    </thead> 
    <div class="form-group">
    <form action="" method=POST>
        {% csrf_token %}  
        {{ form.media }}
        <strong>¿Realmente quieres borrar este tutorial?</strong>
    <button type="submit" class="btn btn-primary">Borrar</button>  
    </div>
    </form> 
  {% else %} 
  <h1>Ni se te ocurra</h1>
  <img src="{% static '/img/I-2563.jpg' %}"/> 
  {% endif %}

{% else %}
No puedes hacer posts sin registrarte
{% endif %}

{% endblock %}
