{% extends 'moledordepasas/base.html' %}

{% load static %}
{% block content %}  

    <h1>{{ post.título }}</h1>
    <small>Por: {{ post.autor }}
    {% if user.is_authenticated %}    
        {% if user.id == post.autor.id %}  
            - <a href="{% url 'tutsedit' post.pk %}">Editar</a></li>  
            - <a href="{% url 'tutdelete' post.pk %}">Borrar</a></li></small><br/>
        {% endif %}    
    {% endif %}    
    <hr>
    <br/>
    {{ post.cuerpo|safe }}

<br/><br/>
 
<br/><br/>
<form action="{% url 'tutlike' post.pk %}"method="POST">
{% csrf_token %}
{% if liked %}
    <button type="submit", name="post_id",
    value="{{post.id}}", class= "btn btn-primary brn-sm">Unlike</button> 
{% else %}
    {% if user.is_authenticated %}   
    <button type="submit", name="post_id",
    value="{{post.id}}", class= "btn btn-primary brn-sm">Like</button> 
    {% else %}  
    <button type="button", class= "btn btn-secondary brn-sm">Necesitas iniciar sesión para dar like</button>
    {% endif %}
{% endif %}
- {{ total_likes }} Likes</a>
<br/>
<a href="{% url 'tutorials' %}">Volver atrás</a> </li>
<br/>
<br/>
{% endblock %}


