{% extends 'moledordepasas/base.html' %}

{% load static %}
{% block content %}
<ul>    
{% for post in object_list %}
    <li><a href="{% url 'tutsdet' post.pk %}">
        {{ post.title }}</a> - 
        {{ post.author }}  
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                - <a href="{% url 'tutsedit' post.pk %}">Editar</a>  
                - <a href="{% url 'tutdelete' post.pk %}">Borrar</a></li><br/>
            {% endif %}
        {% endif %}
{% endfor %}
</ul> 
{% endblock %}

